
@{
    ViewBag.Title = "Index";
}

<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px"><center>CONTACT US</center></h3>
<hr />
<div class="col-md-12">
    <section class="company-description">
        <div class="col-md-6">
            <center>
                <h3>Feel Free to Contact Us Dude!</h3>
            </center>
            <section id="contact-section" style="padding:0px">
                <div class="block">
                    <div class="contact-form">
                        <form id="contact-form" method="post" action="" role="form">

                            <div class="form-group">
                                <input type="text" placeholder="Your Name" class="form-control" name="" id="">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Your Email" class="form-control" name="" id="">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Subject" class="form-control" name="" id="">
                            </div>

                            <div class="form-group">
                                <textarea rows="6" placeholder="Message" class="form-control" name="" id=""></textarea>
                            </div>
                            <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Send Message">
                        </form>

                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6" style="padding-left:10px">
            <center>
                <h3>Officials Contact Numbers Dude</h3>
            </center>
            <table class="table table-bordered" style="margin-top:41px">
                <tbody>
                    <tr>
                        <td width="397">Office of the Mayor</td>
                        <td width="241">(042) 342 – 1074/(042) 342-1487</td>
                    </tr>
                    <tr>
                        <td width="397">Office of Vice Mayor</td>
                        <td width="241">(042) 342 – 1491</td>
                    </tr>
                    <tr>
                        <td width="397">Information/Tourism/Public Employment Service Office</td>
                        <td width="241">(042) 342 – 1585</td>
                    </tr>
                    <tr>
                        <td width="397">Local Civil Registrar’s Office</td>
                        <td width="241">(042) 342 – 1353</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Planning and Development Office</td>
                        <td width="241">(042) 332 – 0201</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Engineering Office</td>
                        <td width="241">(042) 342 – 1188</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Accounting Office</td>
                        <td width="241">(042) 342 – 1173</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Assessor’s Office</td>
                        <td width="241">(042) 332 – 0199</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Social Welfare and Development Office</td>
                        <td width="241">(042) 342 – 1572</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Treasurer’s Office</td>
                        <td width="241">(042) 342 – 1072</td>
                    </tr>
                    <tr>
                        <td width="397">Office of the Sanguniang Bayan</td>
                        <td width="241">(042) 342 – 1380</td>
                    </tr>
                    <tr>
                        <td width="397">Human Resource Management Office</td>
                        <td width="241"></td>
                    </tr>
                    <tr>
                        <td width="397">Business and Permits Licensing Office</td>
                        <td width="241">(042) 342 – 1561</td>
                    </tr>
                    <tr>
                        <td width="397">Supply Office</td>
                        <td width="241">(042) 342 – 1562</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Agriculture’s Office</td>
                        <td width="241">(042) 332 – 0347</td>
                    </tr>
                    <tr>
                        <td width="397">Rural Health Unit</td>
                        <td width="241">(042) 342 – 1533</td>
                    </tr>
                    <tr>
                        <td width="397">Public Market Management Office</td>
                        <td width="241">(042) 342 – 1565</td>
                    </tr>
                    <tr>
                        <td width="397">Department of Education – Gasan District Office</td>
                        <td width="241">(042) 342 – 1580</td>
                    </tr>
                    <tr>
                        <td width="397">Bureau of Fire and Protection</td>
                        <td width="241">(042) 332 – 0477</td>
                    </tr>
                    <tr>
                        <td width="397">Gasan Municipal Police Station</td>
                        <td width="241">(042) 342 – 2166</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Agrarian Reform Office</td>
                        <td width="241">(042) 342 – 1287</td>
                    </tr>
                    <tr>
                        <td width="397">Municipal Trial Court</td>
                        <td width="241">(042) 342 – 1372</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </section>
</div>

