
@{
    ViewBag.Title = "Maintenance";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 bhoechie-tab-container">
            <div class="col-md-2 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <h4 class="glyphicon glyphicon-volume-up"></h4><br />Mission/Vision
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-volume-up"></h4><br />Announcements
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Events
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-flag"></h4><br />Banner
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-user"></h4><br />Officials
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-book"></h4><br />History
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-adjust"></h4><br />Logo
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-asterisk"></h4><br />Achievements
                    </a>
                </div>
            </div>
            <div class="col-md-10 bhoechie-tab">

                <!--///////////////////////////MISSION/VISION//////////////////////////////////-->
                <div class="bhoechie-tab-content active" ng-controller="MissionVisionMaintenanceController as vmMissionVision">
                    <h3>Mission/Vision Maintenance</h3>               
                    <div class="col-md-12">
                        <hr />

                        <div class="col-md-10" id="mission_vision_div">
                            <form ng-submit="vmMissionVision.saveMissionVisionOnSubmit(vmMissionVision.isMission)">
                                <h3>
                                    <span ng-bind="vmMissionVision.missionVisionTitle"></span> <span style="color: red;">*</span>
                                </h3>
                                <div class="form-group">
                                    <textarea rows="6"
                                              required="required"
                                              placeholder="Description"
                                              class="form-control"
                                              ng-model="vmMissionVision.missionVisionDescription"></textarea>
                                </div>
                                <button class="btn btn-primary" id="btn-save-mission-vision"><span class="glyphicon-check"></span> Save</button>
                                <button class="btn btn-danger" id="btn-close-mission-vision" type="button" ng-click="vmMissionVision.closeMissionVisionOnClick()">Close</button>
                            </form>                      
                        </div>
                    </div>
                         
                    <div class="col-md-12">
                        <hr />                        

                        <div class="col-md-10">
                            <h3>Mission</h3>
                            <p id="mission_details">
                                <span ng-bind="vmMissionVision.missionDetails"></span>
                            </p>                            
                            <button class="btn btn-warning" ng-click="vmMissionVision.editMissionOnClick(1)" id="btn-mission-edit"><span class="glyphicon-pencil"></span> Edit</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-10">
                            <h3>Vision</h3>
                            <p id="vision_details">
                                <span ng-bind="vmMissionVision.visionDetails"></span>
                            </p>                            
                            <button class="btn btn-warning btn-mission-vision-edit" ng-click="vmMissionVision.editMissionOnClick(2)" id="btn-vision-edit"><span class="glyphicon-pencil"></span> Edit</button>
                        </div>
                    </div>

                </div>


                <!--///////////////////////////ANNOUNCEMENTS//////////////////////////////////-->
                <div class="bhoechie-tab-content" ng-controller="AnnouncementMaintenanceController as vmAnnouncement">
                    <h3>Announcement Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" ng-click="vmAnnouncement.announcementOnClick(1, announcement.id)"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />

                        <div class="col-md-10" id="announcement_div">
                            <form ng-submit="vmAnnouncement.announcementOnSubmit(vmAnnouncement.announcementForm.announcementId)">

                                <div class="form-group">
                                    <input type="text" placeholder="Announcement Title" 
                                           class="form-control" ng-model="vmAnnouncement.announcementForm.title"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" 
                                              name="" id="" ng-model="vmAnnouncement.announcementForm.description"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Duration</label>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <input type="number" placeholder="Day(s)" 
                                                   class="form-control" name="" id="" min="0" ng-model="vmAnnouncement.announcementForm.durationDay" 
                                                   required="required">
                                        </div>

                                        <div class="col-md-3">
                                            <input type="number" placeholder="Hours(s)" 
                                                   class="form-control" name="" id="" min="0" ng-model="vmAnnouncement.announcementForm.durationHour"
                                                   required="required">
                                        </div>
                                        <br />
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-danger" 
                                            data-dismiss="modal" ng-click="vmAnnouncement.closeDivOnClick()">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-12" ng-repeat="(key, value) in vmAnnouncement.announcements">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3 ng-bind="value.title"></h3>
                            <p ng-bind="value.description"></p>
                            <button class="btn btn-warning" ng-click="vmAnnouncement.announcementOnClick(2, key)">
                                <span class="glyphicon-pencil"></span> Edit
                            </button>
                            <button class="btn btn-danger" ng-click="vmAnnouncement.announcementOnClick(3, key)"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>


                <!--///////////////////////////EVENTS//////////////////////////////////-->
                <div class="bhoechie-tab-content" ng-controller="EventMaintenanceController as vmEvent">
                    <h3>Events Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" ng-click="vmEvent.toggleEventOnClick(vmEvent.toggle)"><span class="glyphicon-plus"> <span ng-bind="vmEvent.buttonName"></span></span></button>
                    </div>

                    <hr />

                    <div class="block" id="event-div">
                        <div class="contact-form">
                            <form id="contact-form" ng-submit="vmEvent.eventOnSubmit()" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Event Title" class="form-control" required="required" ng-model="vmEvent.eventForm.title">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" ng-model="vmEvent.eventForm.description"></textarea>
                                </div>

                                
                                <div class="col-md-6">
                                    <label>Start</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <input class="form-control" type="date" name="date-range-picker" required="required" ng-model="vmEvent.eventForm.startDate" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>End</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <input class="form-control" type="date" name="date-range-picker" required="required" ng-model="vmEvent.eventForm.endDate" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="event-image">
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-12" ng-repeat="(key, value) in vmEvent.events">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img ng-src="{{ value.imageUrl != null ? value.imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png' }}" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3 ng-bind="value.title"></h3>
                            <p ng-bind="value.description"></p>
                            <button class="btn btn-warning" ng-click="vmEvent.editOnClick(key)"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger" ng-click="vmEvent.deleteOnClick(key)"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////BANNER//////////////////////////////////-->
                <div class="bhoechie-tab-content" ng-controller="BannerMaintenance as vmBanner">
                    <h3>Banner Maintenance</h3>

                    <hr />
                    <div class="col-md-12" id="banner-div">
                        <div class="contact-form">
                            <form id="contact-form" ng-submit="vmBanner.bannerOnSubmit()" role="form">
                                <input id="file-banner" class="file" type="file" multiple data-min-file-count="1">
                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                                <button type="reset" class="btn btn-primary" ng-click="vmBanner.closeOnClick()">Close</button>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />

                        <div class="col-md-2">
                            <img alt="{{ vmBanner.imageUrl }}" style="height:100px; width:100px; margin-top:25px" ng-src="{{ vmBanner.imageUrl }}">
                        </div>
                        <div class="col-md-3">
                            <h3>Banner</h3>
                            <button type="button" class="btn btn-warning" ng-click="vmBanner.showBannerFormOnClick()">Edit</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////OFFICIALS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Officials Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#official_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Officials Name</h3>
                            <h4>Position</h4>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Officials Name</h3>
                            <h4>Position</h4>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////HISTORY//////////////////////////////////-->
                <div class="bhoechie-tab-content" ng-controller="HistoryMaintenanceController as vmHistory">
                    <h3>History Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" ng-click="vmHistory.toggleHistoryFormOnClick(vmHistory.isToggled)"><span class="glyphicon-plus"> 
                            <span ng-bind="vmHistory.toggleMessage"></span></span></button>
                    </div>

                    <div class="col-md-12" id="history_div">
                        <hr />
                        <h3><span class="ace-icon fa fa-glass"></span>History Informations</h3>



                        <section id="contact-section" style="padding:0px">
                            <div class="block">
                                <div class="contact-form">
                                    <form id="contact-form" ng-submit="vmHistory.historyFormOnSubmit()" role="form">

                                        <div class="form-group">
                                            <input type="text" placeholder="History Title" class="form-control" 
                                                   required="required" ng-model="vmHistory.historyForm.title">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" placeholder="Place" class="form-control" \
                                                   required="required" ng-model="vmHistory.historyForm.place">
                                        </div>

                                        <div class="form-group">
                                            <textarea rows="6" placeholder="Description" class="form-control" 
                                                      ng-model="vmHistory.historyForm.description"></textarea>
                                        </div>

                                        <div class="col-md-12">
                                            <label>Date:</label>
                                            <div class="row">
                                                <div class="col-xs-8 col-sm-11">
                                                    <div class="col-md-3">
                                                        <input type="date" placeholder="Year" class="form-control" 
                                                               required="required" ng-model="vmHistory.historyForm.date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <label for="exampleInputFile">Choose Image</label>
                                            <div class="form-group">
                                                <input type="file" id="history-image">
                                            </div>
                                        </div>

                                        <div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <hr />
                    </div>

                    <div class="col-md-12" ng-repeat="(key, value) in vmHistory.histories">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img ng-src="{{ value.imageUrl != null ? value.imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png' }}" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3 ng-bind="value.title"></h3>
                            <h4 ng-bind="value.place"></h4>
                            <p ng-bind="value.description"></p>
                            <button class="btn btn-warning" ng-click="vmHistory.historyEditOnClick(key)"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger" ng-click="vmHistory.historyDeleteOnClick(key)"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////LOGO//////////////////////////////////-->
                <div class="bhoechie-tab-content" ng-controller="LogoMaintenanceController as vmLogo">
                    <h3>Logo Maintenance</h3>
                    <div class="col-md-12" id="logo_div">
                        <hr />
                            <h3><span class="ace-icon fa fa-glass"></span>Logo Informations</h3>
                            
                            <section id="contact-section" style="padding:0px">
                                <div class="block">
                                    <div class="contact-form">
                                        <form id="contact-form" ng-submit="vmLogo.saveImageOnClick()" role="form">
                                            <input id="file-0a" class="file" type="file" multiple data-min-file-count="1" file-model="vmLogo.logoFile">
                                            <br>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-default">Reset</button>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        <hr />
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img ng-src="{{ vmLogo.url }}" alt="" style="height:100px; width:100px; margin-top:25px">
                        </div>
                        <div class="col-md-3">
                            <h3><span ng-bind="vmLogo.logoName"></span></h3>
                            <button type="button" class="btn btn-primary" ng-click="vmLogo.showLogoFormOnClick()">Change Logo</button>
                        </div>
                    </div>                    
                </div>

                <!--///////////////////////////ACHIEVEMENTS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Achievements Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#achievements_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Achiements Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Achiements Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--///////////////////////////ANNOUNCEMENT_MODAL//////////////////////////////////-->
<div class="modal fade" id="announcement_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Announcement Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Announcement Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Duration</label>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <input type="number" placeholder="Day(s)" class="form-control" name="" id="" min="0">
                                        </div>

                                        <div class="col-md-3">
                                            <input type="number" placeholder="Hours(s)" class="form-control" name="" id="" min="0">
                                        </div>
                                        <br />
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////OFFICIALS_MODAL//////////////////////////////////-->
<div class="modal fade" id="official_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Official Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Firstname" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Middlename" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Lastname" class="form-control" name="" id="">
                                </div>

                                <div class="col-md-12">
                                    <label>Title</label>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="col-md-2">
                                                <select class="" id="" data-placeholder="Select Title...">
                                                    <option>Select Title...</option>
                                                    <option>Mayor</option>
                                                    <option>Vice-Mayor</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label>Date:</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="col-md-3">
                                                <input type="date" placeholder="Office Start" class="form-control" name="" id="">
                                            </div>

                                            <div class="col-md-3">
                                                <input type="date" placeholder="Office End" class="form-control" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>






<!--///////////////////////////HISTORY_MODAL//////////////////////////////////-->
<div class="modal fade" id="history_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>History Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="History Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Place" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Date:</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="col-md-3">
                                                <input type="date" placeholder="Year" class="form-control" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



<!--///////////////////////////ACHIEVEMENTS_MODAL//////////////////////////////////-->
<div class="modal fade" id="achievements_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Achievement Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Achievement Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Date:</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="col-md-3">
                                                <input type="date" placeholder="Year" class="form-control" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////BANNER_MODAL//////////////////////////////////-->
<div class="modal fade" id="banner_modal" role="dialog" style="margin-top:100px">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Banner Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">
                                <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")