
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 bhoechie-tab-container">
            <div class="col-md-2 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <h4 class="glyphicon glyphicon-volume-up"></h4><br />Mission/Vision
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-volume-up"></h4><br />Announcements
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Events
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-flag"></h4><br />Banner
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-user"></h4><br />Officials
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-book"></h4><br />History
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-adjust"></h4><br />Logo
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-asterisk"></h4><br />Achievements
                    </a>
                </div>
            </div>
            <div class="col-md-10 bhoechie-tab">

                <!--///////////////////////////MISSION/VISION//////////////////////////////////-->
                <div class="bhoechie-tab-content active">
                    <h3>Mission/Vision Maintenance</h3>               
                    <div class="col-md-12">
                        <hr />

                        <div class="col-md-10">
                            <h3>Mission</h3>
                            <div class="form-group">
                                <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                            </div>
                            <button class="btn btn-primary"><span class="glyphicon-check"></span> Save</button>                            
                        </div>
                    </div>
                         
                    <div class="col-md-12">
                        <hr />                        

                        <div class="col-md-10">
                            <h3>Mission</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>                            
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-10">
                            <h3>Vision</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>                            
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                        </div>
                    </div>

                </div>


                <!--///////////////////////////ANNOUNCEMENTS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Announcement Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#announcement_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Announcement Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Announcement Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                </div>


                <!--///////////////////////////EVENTS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Events Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#event_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Event Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Event Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////BANNER//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <div class="col-md-offset-10">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#banner_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                        </div>
                        <div class="col-md-3">
                            <h3>Label</h3>
                            <button type="button" class="btn btn-primary">Set as Active Banner</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                        </div>
                        <div class="col-md-3">
                            <h3>Label</h3>
                            <button type="button" class="btn btn-primary">Set as Active Banner</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////OFFICIALS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Officials Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#official_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Officials Name</h3>
                            <h4>Position</h4>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Officials Name</h3>
                            <h4>Position</h4>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////HISTORY//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>History Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#history_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>History Title(Tres Reyes)</h3>
                            <h4>Place(Barangay Dos)</h4>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>History Title(Apoy na Ilog)</h3>
                            <h4>Place(Tiguin)</h4>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////LOGO//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Logo Maintenance</h3>
                    <div class="form-group col-md-12">
                        <label for="exampleInputFile">Choose Image</label>
                        <input type="file" id="exampleInputFile">
                    </div>
                </div>

                <!--///////////////////////////ACHIEVEMENTS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Achievements Maintenance</h3>
                    <div class="col-md-offset-11">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#achievements_modal"><span class="glyphicon-plus"> Add</span></button>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Achiements Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Achiements Title</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>
                            <button class="btn btn-warning"><span class="glyphicon-pencil"></span> Edit</button>
                            <button class="btn btn-danger"><span class="glyphicon-minus"></span> Delete</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--///////////////////////////ANNOUNCEMENT_MODAL//////////////////////////////////-->
<div class="modal fade" id="announcement_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Announcement Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Announcement Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Duration</label>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <input type="number" placeholder="Day(s)" class="form-control" name="" id="" min="0">
                                        </div>

                                        <div class="col-md-3">
                                            <input type="number" placeholder="Hours(s)" class="form-control" name="" id="" min="0">
                                        </div>
                                        <br />
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////EVENTS_MODAL//////////////////////////////////-->
<div class="modal fade" id="event_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Event Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Event Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Duration</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>

                                                <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////OFFICIALS_MODAL//////////////////////////////////-->
<div class="modal fade" id="official_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Official Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Firstname" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Middlename" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Lastname" class="form-control" name="" id="">
                                </div>

                                <div class="col-md-12">
                                    <label>Title</label>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="col-md-2">
                                                <select class="" id="" data-placeholder="Select Title...">
                                                    <option>Select Title...</option>
                                                    <option>Mayor</option>
                                                    <option>Vice-Mayor</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label>Date:</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="col-md-3">
                                                <input type="date" placeholder="Office Start" class="form-control" name="" id="">
                                            </div>

                                            <div class="col-md-3">
                                                <input type="date" placeholder="Office End" class="form-control" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>






<!--///////////////////////////HISTORY_MODAL//////////////////////////////////-->
<div class="modal fade" id="history_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>History Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="History Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <input type="text" placeholder="Place" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Date:</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="col-md-3">
                                                <input type="date" placeholder="Year" class="form-control" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



<!--///////////////////////////ACHIEVEMENTS_MODAL//////////////////////////////////-->
<div class="modal fade" id="achievements_modal" role="dialog">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Achievement Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">

                                <div class="form-group">
                                    <input type="text" placeholder="Achievement Title" class="form-control" name="" id="">
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" placeholder="Description" class="form-control" name="" id=""></textarea>
                                </div>

                                <div class="col-md-12">
                                    <label>Date:</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-11">
                                            <div class="col-md-3">
                                                <input type="date" placeholder="Year" class="form-control" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="exampleInputFile">Choose Image</label>
                                    <div class="form-group">
                                        <input type="file" id="exampleInputFile">
                                    </div>
                                </div>

                                <div>
                                    <center>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </center>
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////BANNER_MODAL//////////////////////////////////-->
<div class="modal fade" id="banner_modal" role="dialog" style="margin-top:100px">
    <div class="col-md-8 col-md-offset-2">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3><span class="ace-icon fa fa-glass"></span>Achievement Informations</h3>
                </center>
            </div>
            <div class="modal-body">
                <section id="contact-section" style="padding:0px">
                    <div class="block">
                        <div class="contact-form">
                            <form id="contact-form" method="post" action="" role="form">
                                <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


