
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 bhoechie-tab-container">
            <div class="col-md-2 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        <h4 class="glyphicon glyphicon-list-alt"></h4><br />Historical Background
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-user"></h4><br />Profile
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-adjust"></h4><br />Official Seal
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-book"></h4><br />Mission / Vision
                    </a>
                </div>
            </div>
            <div class="col-md-10 bhoechie-tab">

                <!--///////////////////////////HISTORICAL BACKGROUND//////////////////////////////////-->
                <div class="bhoechie-tab-content active">
                    <h3>Historical Background</h3>             
                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">       
                            <h3>Gasan</h3>                     
                            <p>
                                The origin of the name of Gasan came from the term “gasang” or “gasang-gasang”, a type of coral stones once 
                                abundant around the town’s shoreline. Legend has it that when a group of Spanish explorers discovered the town, 
                                they found an old woman near the banks of today’s Matandang Gasan River. When asked in Spanish what was the name 
                                of the town, the woman interpreted it as if they were asking about what was the name of the corals growing around 
                                the area, with the Spaniards interpreting her answer as the name of the town. Over time, the term “gasang-gasang” was 
                                shortened to “gasa-gasa”, later became “gasang” before being shortened further to Gasan.
                            </p>                            
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h3>Barangay Dos</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>                            
                        </div>
                    </div>

                </div>
                <!--///////////////////////////PROFILE//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Profile of the Municipality</h3>
                    <div class="col-md-offset-11">                        
                    </div>

                    <div class="col-md-12">
                        <hr />                        
                        <div class="col-md-12">
                            <h3>PHYSICAL ATTRIBUTES</h3>
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>                            
                        </div>
                    </div>                   
                </div>

                <!--///////////////////////////OFFICIAL SEAL//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Official Seal</h3>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-2">
                            <div class="">
                                <img src="~/images/childrens-park-646x401.jpg" alt="" style="height:100px; width:100px; margin-top:25px">
                            </div>
                        </div>

                        <div class="col-md-10">
                            <h4>Shield</h4>
                            <p>
                                Derived from the provincial seal of Marinduque where the town is located.
                            </p>
                        </div>

                        <div class="col-md-10">
                            <h4>COCONUT TREE</h4>
                            <p>
                                Represents the main source of income of the municipality.
                            </p>
                        </div>
                    </div>

                </div>

                <!--///////////////////////////OFFICIALS//////////////////////////////////-->
                <div class="bhoechie-tab-content">
                    <h3>Mission and Vision</h3>                    
                    <div class="col-md-12">
                        <hr />                        
                        <div class="col-md-10">
                            <h3>Mission</h3>                            
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>                            
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />                        
                        <div class="col-md-10">
                            <h3>Vision</h3>                            
                            <p>
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                                Descriptions Descriptions Descriptions Descriptions Descriptions
                            </p>                            
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


