
@{
    ViewBag.Title = "Announcements";
}

<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px"><center>ANNOUNCEMENTS</center></h3>
<hr />
<div class="col-md-9">
    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/slider.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Title</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/slider.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Title</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                        </p>
                    </div>               
                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
    <div class="sidebar">
        <div class="recent-post widget">
            <center><h3>Past Announcements</h3></center>
            <hr />

            <ul>
                <li>
                    <a href="#"><h4>Bakla si winky</h4></a>
                    <p>Super Gay Super Gay Super Gay</p>
                    <time>16 May, 2015</time>
                </li>

                <li>
                    <a href="#"><h4>Bakla si winky</h4></a>
                    <p>Super Gay Super Gay Super Gay</p>
                    <time>16 May, 2015</time>
                </li>

                <li>
                    <a href="#"><h4>Bakla si winky</h4></a>
                    <p>Super Gay Super Gay Super Gay</p>
                    <time>16 May, 2015</time>
                </li>

                <li>
                    <a href="#"><h4>Bakla si winky</h4></a>
                    <p>Super Gay Super Gay Super Gay</p>
                    <time>16 May, 2015</time>
                </li>

            </ul>
        </div>
    </div>
</div>