
@{
    ViewBag.Title = "Announcements";
}
<div ng-controller="AnnouncementController as vmAnnouncement">
    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px"><center>ANNOUNCEMENTS</center></h3>
    <hr />
    <div class="col-md-9">
        <section class="company-description" ng-repeat="announcement in vmAnnouncement.currentAnnouncements">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                        <img src="http://www.redeemerla.org/COR/userfiles/page_banner18.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-7">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" ng-bind="announcement.title">---</h3>
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind="announcement.description">---</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
        <div class="sidebar">
            <div class="recent-post widget">
                <center><h3>Past Announcements</h3></center>
                <hr />

                <ul>
                    <li ng-if="vmAnnouncement.lapsedAnnouncements != null" ng-repeat="lapsedAnnouncement in vmAnnouncement.lapsedAnnouncements">
                        <a href="#"><h4 ng-bind="lapsedAnnouncement.title">---</h4></a>
                        <p ng-bind="lapsedAnnouncement.description">---</p>
                        <p ng-bind="vmAnnouncement.parseDate(lapsedAnnouncement.updatedAt)">---</p>
                    </li>
                </ul>
                <h3 ng-if="vmAnnouncement.lapsedAnnouncements == null">No past announcements yet</h3>
            </div>
        </div>
    </div>
</div>