
@{
    ViewBag.Title = "Welcome to Gasan";
}

<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-12" style="margin-top:-8%">
                <center>
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px">Welcome to gasan!</h3>
                </center>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                            <div class="team-img">
                                <img src="~/images/Mayor_Lim.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Hon. VICTORIA L. LIM</h3>
                            <p class="team_designation">Municipal Mayor</p>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s" style="margin-top:25px">
                        <p>
                            It is my distinct pride and pleasure to welcome you to our municipality.
                            Be with nature, enjoy the crystal clear blue waters and experience the hospitality of our people and the rich cultural traditions we have.
                            Take time to explore this town and see for yourself the beauty and simplicity it holds. 
                        </p>
                    </div>
                </div>

                <div id="myCarousel" class="carousel slide col-md-6 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" data-ride="carousel" style="margin-top:25px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/childrens-park-646x401.jpg" alt="Chania">
                        </div>

                        <div class="item">
                            <img src="~/images/gasan-seaview-park-646x401.jpg" alt="Chania">
                        </div>

                        <div class="item">
                            <img src="~/images/gasang-gasang-festival-646x401.jpg" alt="Chania">
                        </div>

                        <div class="item">
                            <img src="~/images/NATURES-PARK-646x401.jpg" alt="Chania">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            
            <div class="col-md-6" ng-controller="MissionVisionController as vmMissionVision">
                <div class="col-md-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1000ms">
                        <h2>Mission</h2>
                        <p>
                           <span ng-bind="vmMissionVision.missionDetails">---</span>
                        </p>                      
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1000ms">
                        <h2>Vision</h2>
                        <p>
                            <span ng-bind="vmMissionVision.visionDetails">---</span>
                        </p>
                    </div>
                </div>


            </div>


            <div class="col-md-6">

                <div class="col-md-12" ng-controller="AnnouncementController as vmAnnouncement">
                    <section class="about-feature clearfix">
                        <div class="container-fluid">
                            <div class="about-feature-3 wow fadeInDown col-md" data-wow-duration="1000ms" data-wow-delay=".7s" style="padding:20px">
                                <h2 class="item_title">
                                    Announcement
                                </h2>
                                <h3 ng-bind="vmAnnouncement.announcementTitle">---</h3>
                                <p ng-bind="vmAnnouncement.announcementDesc">---</p>

                                <div class="blog-content col-md-offset-8">
                                    <button class="btn btn-primary">Continue Reading</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-12">
                    <section class="about-feature clearfix">
                        <div class="container-fluid">
                            <div class="about-feature-3 wow fadeInDown col-md" data-wow-duration="1000ms" data-wow-delay=".7s" style="padding:20px">
                                <h2 class="item_title">
                                    Upcoming Event
                                </h2>
                                <h3>Title</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                                </p>
                                <div class="blog-content col-md-offset-8">
                                    <button class="btn btn-primary">Continue Reading</button>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

