
@{
    ViewBag.Title = "Gasan Officials";    
}

<div ng-controller="OfficialController as vmOfficial">
    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px"><center>OFFICIALS</center></h3>
    <hr />
    <div class="col-md-12">
        <section class="company-description" ng-repeat="(key, value) in vmOfficial.officials">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                        <img ng-src="{{ value.imageUrl != null ? value.imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png' }}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" ng-bind="value.firstName + ' ' + value.middleName + ' ' + value.lastName"></h3>
                            <h4 ng-bind="value.position"></h4>
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" ng-bind="value.description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>