
@{
    ViewBag.Title = "Index";    
}

<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px"><center>OFFICIALS</center></h3>
<hr />
<div class="col-md-12">
    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/slider.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-9">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Official Name</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/images/slider.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-9">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Official Name</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                            Description Description Description Description Description Description Description Description Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
