
@{
    ViewBag.Title = "Events";
}
<div ng-controller="EventController as vmEvent">
    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-size:40px"><center>EVENTS</center></h3>
    <hr />
    <div class="col-md-9">
        <section class="company-description" ng-repeat="currentEvent in vmEvent.currentEvents">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
                        <img ng-src="{{ currentEvent.imageUrl != null ? currentEvent.imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png' }}" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-7">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" ng-bind="currentEvent.title"></h3>
                            <p><strong>Start:</strong> <span ng-bind="vmEvent.parseDate(currentEvent.startDate)"></span></p>
                            <p><strong>End:</strong> <span ng-bind="vmEvent.parseDate(currentEvent.endDate)"></span></p>
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                <strong>Description:</strong> </strong><span ng-bind="currentEvent.description != null ? currentEvent.description : '---'"></span>
                            </p>
                        </div>
                        <div class="blog-content wow fadeInLeft" data-wow-delay=".3s">
                            <div class="col-md-5" style="margin-left:-17px">
                                <a href="~/Events">John Felix Lim and 15 are going</a>
                            </div>
                            <div class="col-md-offset-9">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                        JOIN NOW
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Interested</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Going</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maybe</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-3 wow fadeInLeft" data-wow-delay=".3s">
        <div class="sidebar">
            <div class="recent-post widget">
                <center><h3>Past Events</h3></center>
                <hr />
                <ul ng-repeat="pastEvent in vmEvent.pastEvents">
                    <li>
                        <a href="#"><h4 ng-bind="pastEvent.title"></h4></a>
                        <p ng-bind="pastEvent.description != null ? pastEvent.description : '---'"></p>
                        <time ng-bind="vmEvent.parseDate(pastEvent.startDate)"></time>
                    </li>
                </ul>

                <center>
                    <h3 ng-if="vmEvent.pastEvents == null">No past events yet.</h3>
                </center>
            </div>
        </div>
    </div>
</div>