
@{
    ViewBag.Title = "AdminAccount";    
}

@Scripts.Render("~/bundles/angular")

<div class="col-md-12" style="margin-top:-50px" ng-app="gasanApp" ng-controller="AdminLoginController as vmAdminLogin">
    <section class="company-description">

        <div class="col-md-12">
            <div class="wow fadeInLeft" data-wow-delay=".3s">
                <img src="~/images/slider.jpg" alt="" class="img-responsive" style="height:150px;width:1300px">
            </div>
        </div>


        <div class="col-md-offset-3 col-md-6 wow fadeInLeft" data-wow-delay=".3s">
            
            <section id="contact-section" style="padding:0px">
                <div class="block">
                    <div class="contact-form">
                        <form id="contact-form" method="post" action="AdminAccount/Login" role="form">

                            <div class="form-group">
                                <input type="text" placeholder="Username" class="form-control" name="username" id="">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" name="password" id="">
                            </div>
                            <center>
                                <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Login">
                            </center>
                            <br /><br /><br />
                        </form>

                    </div>
                </div>
            </section>


        </div>

    </section>
    
</div>



